.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  .logo {
    img {
      height: 75px;
      max-width: 100%;
    }
  }
  .nav_items {
    display: flex;
    align-items: center;
    .nav_item {
      margin: 0 10px;
      a {
        text-decoration: none;
      }
      .link {
        color: #222222;
        font-family: openSansRegular;
        font-size: 0.75rem;
      }
    }
  }
}

.hero_section {
  // height: 250px;
  // background: transparent url("../assets/img/blob-small.png") 0% 0% no-repeat
  //   padding-box;
  padding: 5% 15%;
  .hero_text {
    h3 {
      font-family: monteserrat_medium;
      font-weight: 400;
      font-size: 1.2rem;
      width: 50%;
      margin-bottom: 1.5rem;
    }
  }
  .img_container {
    margin-top: 1.5rem;
    img {
      height: 200px;
    }
  }
  .dotted_image {
    img {
      height: 50px;
      position: relative;
      top: -25px;
      left: 125px;
    }
  }
}

.card {
  box-shadow: inset 0 1px 40px 0 #fff, 0 2px 10px 0 rgba(255, 255, 255, 0.5),
    0 0 30px 0 rgba(35, 33, 50, 0.12);
  background: #ffffff;
  width: 60%;
  .card_header {
    background-color: #fafbfd;
    height: 50px;
    display: flex;
    font-family: openSansRegular;
    justify-content: center;
    align-items: center;
    h4 {
      font-family: openSansRegular;
    }
  }

  .range_section {
    padding: 5px 25px;
    p,
    .input_label {
      font-size: 0.65rem;
      font-family: openSansRegular;
    }
    h5 {
      font-family: monteserrat_semibold;
      margin-top: 0.5rem;
    }
  }
  .question_range {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.message_card {
  height: 300px;
  display: flex;
  align-items: center;
  background: #673e98;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 10px;
  .message_container {
    padding: 10px 20px;
    .message {
      font-family: monteserrat_medium;
      text-align: center;
      margin-bottom: 40px;
      h4 {
        color: #d1c2e1;
        font-size: 0.8rem;
        margin-bottom: 10px;
      }
      p {
        color: #ffffff;
        font-size: 0.6rem;
      }
    }
  }
}

#features {
  background: transparent url("../assets/img/sol_wave_bg.png") 0% 0% no-repeat
    padding-box;
  height: auto;
}

.text_container {
  padding: 5% 20%;
  h4 {
    font-family: monteserrat_medium;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .underline {
    background: #707070;
    width: 15%;
    margin-bottom: 1.5rem;
  }

  p {
    color: #777777;
    font-size: 0.6rem;
    margin-bottom: 2rem;
  }
}
