<section class="header">
  <header class="header-container">
    <div class="logo">
      <img src="../assets/img/logo.png">
    </div>
    <div class="nav_items">
      <div class="nav_item">
        <a href="" class="link">Products</a>
      </div>
      <div class="nav_item">
        <a href="" class="link">Solutions</a>
      </div>
      <div class="nav_item">
        <a href="" class="link">Pricing</a>
      </div>
      <div class="nav_item">
        <a href="" class="border-button">Login</a>
      </div>
      <div class="nav_item">
        <a href="" class="special_link">Getting Started</a>
      </div>
    </div>
  </header>
</section>
