<section class="header">
  <header class="header-container">
    <div class="logo">
      <img src="../assets/img/logo.png" />
    </div>
    <div class="nav_items">
      <div class="nav_item">
        <a href="" class="link">Products</a>
      </div>
      <div class="nav_item">
        <a href="" class="link">Solutions</a>
      </div>
      <div class="nav_item">
        <a href="" class="link">Pricing</a>
      </div>
      <div class="nav_item">
        <a href="" class="border-button">Login</a>
      </div>
      <div class="nav_item">
        <a href="" class="border-button btn-fill">Getting Started</a>
      </div>
    </div>
  </header>
</section>
<section id="home">
  <div class="flex_container">
    <div class="container-md-2">
      <div class="hero_section">
        <div class="hero_text">
          <div class="bg_img">
            <img src="../assets/img/blob-small.png" alt="">
          </div>
          <h3>We make it Super Simple</h3>
          <div class="underline"></div>
        </div>
        <div class="img_container">
          <img src="../assets/img/collect_img-video.png" alt="">
          <!-- <div class="hero_img"></div> -->
        </div>
        <div class="dotted_image">
          <img src="../assets/img/accounting_dots.png" alt="">
        </div>
      </div>
    </div>
    <div class="container-md-2">
      <div class="flex_container align_center">
        <div class="card" [formGroup]="form">
          <div class="card_header">
            <h4>Eligibility Calculator</h4>
          </div>
          <div class="range_section">
            <p class="header">Monthly Income</p>
            <h5>
              {{form.value.income | currency:'INR'}}</h5>
            <mat-slider (ngModelChange)="calculateEMI()" min="100000" max="300000" step="1" formControlName="income"></mat-slider>
          </div>
          <div class="range_section">
            <p class="header">Monthly Expense</p>
            <h5>{{form.value.expense | currency:'INR'}}</h5>
            <mat-slider (ngModelChange)="calculateEMI()" min="10000" max="100000" step="0.5" formControlName="expense"></mat-slider>
          </div>
          <div class="range_section">
            <p class="header">Repayment Tenure</p>
            <mat-form-field>
              <mat-select formControlName="repayment" (ngModelChange)="calculateEMI()">
                <mat-option value="6">6 Months</mat-option>
                <mat-option value="12">12 Months</mat-option>
                <mat-option value="24">24 Months</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="range_section question_range">
            <p class="header">Do you have any Existing loans?</p>
            <input type="checkbox" formControlName="previous_emi" class="toggle" />
          </div>
          <div class="range_section" *ngIf="form.value.previous_emi">
            <p class="header">Do you have any Existing loans?</p>
            <span class="input_label">EMI of existing loan (optional)</span>
            <mat-form-field class="example-full-width">
              <input (ngModelChange)="calculateEMI()" matInput formControlName="monthly_emi" value="" />
            </mat-form-field>
          </div>
        </div>
        <div class="message_card">
          <div class="message_container">
            <div class="message">
              <h4>Loan Amount</h4>
              <p>{{emiObj.finalAmount |currency:'INR'}}</p>
            </div>
            <div class="message">
              <h4>Your EMI will be</h4>
              <p>{{emiObj.emi |currency:'INR'}}</p>
            </div>
            <div class="btn-container">
              <a href="" class="border-button btn-fill btn-white">GET MONEY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="flex_container">
    <div class="container-md-2">
      <div class="flex_container align_center">
        <div class="container-md-2">
          <div class="info-box">
            <img src="../assets/img/Get Paid Instantly.png" alt="" />
            <h6>Quick cash disbursement</h6>
            <p>Get terms loans that your business needs within 72 hrs</p>
          </div>
          <div class="info-box">
            <img src="../assets/img/Get Paid Instantly.png" alt="" />
            <h6>Low-interest rate</h6>
            <p>
              Achieve your financial goals with an amazing interest rate
              starting at 13% per annum
            </p>
          </div>
          <div class="info-box">
            <img src="../assets/img/Get Paid Instantly.png" alt="" />
            <h6>Zero Paperwork</h6>
            <p>
              Get started instantly by submitting only your basic details & bank
              statements
            </p>
          </div>
        </div>
        <div class="container-md-2">
          <div class="info-box">
            <img src="../assets/img/Get Paid Instantly.png" alt="" />
            <h6>Ace your business finances</h6>
            <p>
              Manage banking, accounting & everything in between, on one
              platform
            </p>
          </div>
          <div class="info-box">
            <img src="../assets/img/Get Paid Instantly.png" alt="" />
            <h6>Loans to fight COVID-19</h6>
            <p>
              Zero EMI for first 3 months on Back-to-Business loans of upto 1
              lakh
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-md-2 flex_container align_center">
      <!-- <div class=""> -->
        <div class="text_container">
          <h4>Boost your business with Open</h4>
          <div class="underline"></div>
          <p>Get your hands on a term loan that’s crafted for your business</p>
          <div class="btn-container">
            <a href="" class="border-button btn-fill btn-white purple-border"
              >Get an Open Account</a
            >
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
